[submodule "contracts/lib/openzeppelin-contracts"]
	path = contracts/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "contracts/lib/diamond-3-hardhat"]
	path = contracts/lib/diamond-3-hardhat
	url = https://github.com/mudgen/diamond-3-hardhat
[submodule "contracts/lib/chainlink-ccip"]
	path = contracts/lib/chainlink-ccip
	url = https://github.com/smartcontractkit/chainlink-ccip
[submodule "contracts/lib/chainlink-local"]
	path = contracts/lib/chainlink-local
	url = https://github.com/smartcontractkit/chainlink-local
